@font-face {
    font-family: Poppins;
    src: url(assets/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: DMSerifDisplay;
    src: url(assets/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
  

* {margin: 0; padding: 0; font-family: Poppins, sans-serif;}
body {background: #4a4f46;}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: #ecece4;
    width: 70%;
    height: 80%;
}

#title {
    font-family: DMSerifDisplay, sans-serif;
    font-size: 60px;
    text-align: center;
}

#subtitle {
    color: grey;
}

#img-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* 512 x 445 */
#image {
    display: block;
    width: 100%;
    max-width: 512px;
}

#img-caption {
    margin-top: 10px;
    color: grey;
    max-width: 512px;
}

#tribute-info {
    max-width: 70%;
    font-size: 18px;
}

#tribute-link {
    text-decoration: none;
    background: #c0c2b0;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    color:black;
    transition: background 0.2s;
}
#tribute-link:hover {
    background: #4a4f46;
    color: white;
}

hr {
    margin: 20px;
    color: black;
    width: 90%;
}

#tribute-section-title {
    text-align: center;
    font-family: DMSerifDisplay, sans-serif;
    font-size: 35px;
    margin: 20px;
}

#signature, #signature *{
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 90%;
}

@media only screen and (max-width: 800px) {
    #main{
        width: 100%;
    }
    #tribute-info{
        font-size: 15px;
    }
}
